/* NAVBAR STYLES */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  margin-top: 8px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 9999px;
  padding: 0 12px;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  -webkit-backdrop-filter: blur(10px);
}



.nav a {
  text-decoration: none;
  font-size: 14px;
  padding: 8px;
  font-weight: 500;
  color: var(--letter-color);


}

.nav a:hover {
  color: var(--hover-color)
}

.nav a.active {
  color: var(--hover-color)
}

.nav .fa-regular:hover {
  cursor: pointer;
}

.nav i{
  margin: 0 4px;
}


header button{
  border-style: none;
  background-color: #ffffff00;
}
header button:hover{
  cursor: pointer;
}

header button img{
  width: 18px;

}

@media (max-width: 480px) {
  .nav a{
    font-size: 13px;
  }
  .nav{
    gap: 0.5rem;
  }

}