/* NAVBAR STYLES */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  margin-top: 8px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 9999px;
  padding: 0 12px;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  -webkit-backdrop-filter: blur(10px);
}



.nav a {
  text-decoration: none;
  font-size: 14px;
  padding: 8px;
  font-weight: 500;
  color: var(--letter-color);


}

.nav a:hover {
  color: var(--hover-color)
}

.nav a.active {
  color: var(--hover-color)
}

.nav .ti:hover {
  cursor: pointer;
}

.nav .ti{
  margin-right: 4px;
  font-size: 20px;
  font-weight: 500;
  color: var(--letter-color);
}



header button{
  border-style: none;
  background-color: #ffffff00;
}
header button:hover{
  cursor: pointer;
}

header button img{
  width: 18px;

}

@media (max-width: 430px) {
  .nav a{
    font-size: 13px;
  }
  .nav{
    gap: 0.5rem;
  }

}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5); /* Comienza más pequeño */
    opacity: 0.5; /* Semi-transparente */
  }
  100% {
    transform: scale(1); /* Tamaño completo */
    opacity: 1; /* Totalmente opaco */
  }
}

.theme-menu {
  --tw-shadow: 0 3px 10px rgb(0, 0, 0, .2);
  --tw-shadow-colored: 0 3px 10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  list-style: block;
  padding: 4px;
  position: absolute;
  right: 0;
  top: 40px;
  border-radius: 6px;
  background-color: var(--modal-background);
  display: none; /* Oculto por defecto */
  transform-origin: center center; /* Escala desde el centro */
}

.theme-menu.open {
  display: block; /* Muestra el menú */
  animation: scale-up-center .15s cubic-bezier(.25,.46,.45,.94) both;
}

.theme-menu ul li {
  color: var(--letter-color);
  display: list-item;
  padding: 6px 8px;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
}

.theme-menu #languageChange-btn {
  color: var(--letter-color);
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  font-family: Onest Variable, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
}

.theme-menu ul li:hover {
  background-color: var(--hover-li-background);
  cursor: pointer;
}

#flag {
  width: 18px;
  height: 18px;
}
