.section-presentation{
    padding: 14.4rem 0 8rem 0;
}

.head-presentation {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.6rem;
}
.head-presentation img{
    width: 6.4rem;
    border-radius: 999px;
}

.head-presentation>a {
    text-decoration: none;
    padding: .4rem 1.2rem;
    background-color:var(--available-background-color);
    color: var(--available-color);
    border: 1px solid rgb(22, 101, 52);
    border-radius: 9999px;
    font-size: 14px;
    
}

.head-presentation>a:hover {
    padding: .5rem 1.3rem;
    font-size: 15px;
    transition: font-size ease, padding aese;

}

.section-presentation > p {
    font-size: 20px;
    color: var(--sub-p-text);
    line-height: 3rem;
    max-width: 600px;
    display: block;
    margin-top: 2.4rem;
}

.section-presentation strong {
    color: var(--sub-color)
}

h1 {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--main-title)
}
.networks-footer{
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
}
.networks{
    font-size: 16px;
    color: var(--p-text-color);
    padding: .4rem 1.6rem;
    max-width: fit-content;
    border: 1px solid rgb(209 213 219 );
    border-radius: 999px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    margin-top: 3.2rem;
}

