.section-projects{
    padding-top: 7rem;
}
.section-projects h2{
    font-size: 30px;
    color: var(--main-title);
    margin-bottom: 2.4rem;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;
}


.flex-projects{
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-bottom: 14.4rem;
}

.section-projects article{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.project-image > img{
    width: 43rem;
    height: 25rem;
    border-radius: 16px;
    font-weight: 700;
}

.project-description > h3{
    font-size: 24px;
    color: var(--main-title);
    
}
.project-description > p{
    margin-top: .8rem;
    font-size: 16px;
    color: var(--sub-p-text)
}

.projects-footer{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.projects-footer a{
    text-decoration: none;
    padding: .8rem 1.5rem;
    border: 1px solid var(--letter-color);
    border-radius: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 8px;
    margin-top: 1.6rem;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    background-color: rgb(31 41 55 );
    border-color: rgb(75 85 99 );
}
.projects-footer a:hover{
    border-color: rgb(31 41 55 );
}

@media only screen and (min-width: 250px) and (max-width: 768px){
    .section-projects article{
        display: flex;
        flex-direction: column;
    }

    .project-image > img{
       width: 100%;
       height: 100%;
    }
  }

  @media (min-width: 768px) {
    .section-projects article .project-image > img{
        --tw-scale-x: 1.1;
        --tw-scale-y: 1.1;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
}

@media (min-width: 640px) {
    .section-projects article .project-image > img{
        height: 100%;
    }
}
