.section-skills{
    padding-top: 10rem;
}


.section-skills h2{
    font-size: 30px;
    color: var(--main-title);
    margin-bottom: 2.4rem;
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    align-items: center;
}

.section-skills h3{
    font-size: 2rem;
    color: var(--hover-color);
}

.section-skills ol{
    list-style: none;
    border-left: 2px solid #d9d8ff80;
}

.skill-grid{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 2.5rem;
    padding-bottom: 4.8rem;
    margin: 0 30px;
}

.section-skills span{
    font-size: 48px;
    position: absolute;
    left: -38px;
    color: var(--hover-color);
}
.inner-div{
    position: sticky;
    top: 0;
}
.outer-div{
    margin-bottom: 4.8rem;
    grid-column: span 2 / span 2
}
.tech-icons{
    display: flex;
    gap: 2.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    grid-column: span 3 / span 3;
}
.tech-icons >i {
    font-size: 5rem;
}

.section-skills h4{
    font-size: 1.4rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: var(--sub-letter-color)
}

.soft-content{
    grid-column: span 3;
    font-size: 1.6rem;
    color: var(--letter-color)
}