:root {
    --main-text: #be3144;
    --nav-text: #be3144;
    --nav-color: rgba(255,255,255,.90);
    /* --main-blue: #45567d; */
    --main-background: white;
    --main-red: #be3144; 
    /* --p-color: #303841; */
    --button-text: white;
    --tittle-color: #404040;
  }

*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    font-size: 100%; /*16px*/
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.4;
    background-color: var(--main-background);
    color: var(--main-text)
  }
  /* TITLES */
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 780;
    text-align: center;
    color: var(--tittle-color)
  }
  h1 {
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
  }
  h2 {
    font-size: 2rem;
  }

/* navbar styles */
.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 1.875rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav{
    width: 100%;
    background: var(--nav-color);
    overflow: auto;
    position: fixed;
    top:0;
    /* border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; */
    box-shadow: 0 0 10px ;
}

.nav-list a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--nav-text);
    display: block;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--nav-text);
    border-bottom: 5px solid transparent; /* Agrega un borde inferior transparente */
    transition: border-bottom 0.3s ease; /* Agrega una transición para un efecto suave */
}

.nav-list a:hover {
    text-decoration: none;
    display: block;
    border-bottom-color: var(--main-red); /* Cambia el color del borde inferior en estado de hover */
}


/* SECTIONS */
section:not(.section-projects, .section-contact){
    padding: 0rem 10vw 0px 10vw;
    text-align: justify;
    color: var(--p-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.section-presentation, .section-contact{
    font-size: 1.2rem;
}

.section-presentation p, .section-contact p{
    font-style: italic;
    text-align: center;
    color: var(--main-red)
}
.section-presentation a{
    width: 7rem;
    height: 8vh;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    margin: 1.5rem auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: var(--main-red);
}
.section-presentation a:hover{
    box-shadow: 0 0 10px var(--main-red);
    text-decoration: underline;
}
.section-presentation a{
    color: var(--button-text);
    text-decoration: none;
}





.section-about{
    text-align: justify;
    font-size: 1rem;
    height: 100vh;

}
.section-projects{
    padding: 5rem 0 1rem 0;
}


.section-contact{
    height: 85vh;
    padding: 0 2rem;
    display:  flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: strecth;
}

.section-contact a{
    color: var(--main-text);
    text-decoration: none;
    transition: transform 0.3s ease-out;
}
.section-contact a:hover{
    color: var(--main-tex);
    text-decoration: underline;
    transform: translateY(8px);
}
.section-contact p{
    text-align: center;
}
.contact-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* PROJECT-GRID */
.grid {
    display: grid;
    grid-template-columns:  repeat(3, minmax(auto, 1fr));
    grid-template-rows:  repeat(2, 20rem);
    gap: 2.5rem;
    margin: 0 2%;
    justify-content: center;
}

.item{
    background: rgb(172, 158, 158);
}

/* FOOTER */
footer{
    position: relative;
    bottom: 0;
    background-color: var(--main-text);
    color: var(--main-background)
}
footer a{
   text-decoration: none;
   color: white;
}



 
  
