:root {
    --tw-text-opacity: 1;
    --hover-color: #be3144;
    --main-background: rgb(249, 250, 251);
    --main-title: rgb(31 41 55 / var(--tw-text-opacity));
    --p-text-color: rgb(31 41 55 );
    --letter-color: rgb(75 85 99 / var(--tw-text-opacity));
    --sub-color: rgb(234 179 8 );
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
    /*16px*/
}

body {
    font-family: Onest Variable, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
    font-weight: 400;
    max-width: 850px;
    margin: 0 auto;
    padding: 0 10px;
    word-wrap: break-word;
    line-height: 1.4;
    background-color: var(--main-background);
    color: var(--main-text);
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, #d9d8ff80, #ffffffe6);

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
}

section {
    width: 100%;
    height: 45vh;
}

h2{
    padding: 50px 0;
}

@media (max-width: 400px){
    html{
        font-size: 54.5%;
    }
}