@tailwind base;
@tailwind components;
@tailwind utilities;
/* Estilos comunes */

/* html * {
    @apply transition-colors duration-200;
} */
@font-face {
  font-family: 'Onest Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/onest:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  color-scheme: light dark;
}

html {
  font-family: "Onest Variable", system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: rgba(17, 17, 17, 0.9);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overscroll-behavior: none;
  position: relative;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgba(255, 255, 255, 0.9);
  }

}

/* #header-navbar {
  animation: blur linear both 0.5s;
  animation-timeline: scroll();
  animation-range: 0 500px;
}
 */


@keyframes blur {
  to {
    backdrop-filter: blur(20px);
    border-width: 1px;
    border-color: rgba(0, 0, 0);
    padding: 0.25rem 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(229, 229, 229);
    border-radius: 9999px;
  }
}

@media (prefers-color-scheme: dark) {
  @keyframes blur {
    from {
      border: 0px;
    }

    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(20px);
      border-width: 1px;
      border-color: rgba(0, 0, 0);
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 9999px;
    }
  }
}

nav {
  animation: nav-shadown 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
}

nav {
  @apply dark:bg-gray-800/90 bg-white/50;
}

@keyframes nav-shadown {
  0% {
    @apply dark:bg-gray-800/0 bg-white/0;
  }

  to {
    @apply shadow-lg ring-1 backdrop-blur ring-white/10;
  }
}


.footer {
  display: flex;
  justify-content: center;
}




/* first button */
.btn-1 {
  --width: 350px;
  --height: 45px;
  --tooltip-height: 35px;
  --tooltip-width: 320px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #705CFF;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: #705CFF;
  position: relative;
  text-align: center;
  border-radius: 10rem;
  font-family: "Arial";
  transition: background 0.3s;
}

.btn-1::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #705CFF;
  font-size: 0.9rem;
  color: white;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.btn-1::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.btn-1::after,
.btn-1::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-1-wrapper,
.text,
.icon-download {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,
.icon-download {
  transition: top 0.5s;
}

.icon-download {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-download svg {
  width: 24px;
  height: 24px;
}

.btn-1:hover {
  background: #705CFF;
}

.btn-1:hover .text {
  top: -100%;
}

.btn-1:hover .icon-download {
  top: 0;
}

.btn-1:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.btn-1:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.btn-1:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}